<button class="btn btn-primary">Buscar data</button>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">First Position</th>
        <th scope="col">Last Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <textarea></textarea>